@import "vars";

* {
    font-family: "Inter",  sans-serif;
    font-size: 8px;
}

@media print {
    @page {
        @bottom-center {
            content: counter(page) "/" counter(pages);
        }
        @top-center {
            content: string(title) " - " string(subtitle);
        }
    }

    h2 {
        string-set: title content(text);
    }
    h3 {
        string-set: subtitle content(text);
    }

    h3 {
        break-before: page;
    }
}

table {
    border-collapse: collapse;
}

td {
    vertical-align: top;
    border-bottom: 1px solid black;
}

td.break {
    overflow-wrap: anywhere;
}

td.right {
    text-align: right;
}

td.alert {
    background-color: $lightred;
}

td.ok {
    background-color: $lightgreen;
}

td.border, th.border {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

th {
    font-weight: bold;
}

.tab {
    margin-left: 3em;
}